.inventory {
    flex: 0 1 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: .5em;
    align-items: center;
    .equipped {
        width: 80%;
        flex: 0 1 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5em;
        padding: .4em;
        .droppable {
            transition: background-color 0.3s;
            img {
                max-width: 100%;
            }
        }
        .head-slot {
            background-image: url('../../../../../assets/helmet-slot-bg.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: rgba(124, 66, 11, 168);
            border: 2px solid rgb(202, 116, 4);
            width: 108px;
            flex: 0 1 20%;
        }
        .head-slot-equipped {
            border: 2px solid rgb(202, 116, 4);
            width: 108px;
            flex: 0 1 20%;
            background-color: #e0e0e0;
        }
        .middle-slots {
            width: 100%;
            display: flex;
            flex: 0 1 30%;
            justify-content: space-around;
            align-items: center;
            .droppable {
                transition: background-color 0.3s;
            }
            .prim-weapon-slot {
                background-image: url('../../../../../assets/prim-weapon-slot-bg.png');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: rgba(124, 66, 11, 168);
                border: 2px solid rgb(202, 116, 4);
                flex: 0 1 20%;
                height: 67%;
            }
            .prim-weapon-slot-equipped {
                flex: 0 1 20%;
                height: 67%;
                background-color: #e0e0e0;
            }
            .torso-slot {
                background-image: url('../../../../../assets/torso-slot-bg.png');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: rgba(124, 66, 11, 168);
                border: 2px solid rgb(202, 116, 4);
                flex: 0 1 20%;
                height: 67%;
            }
            .torso-slot-equipped {
                border: 2px solid rgb(202, 116, 4);
                flex: 0 1 20%;
                height: 67%;
                background-color: #e0e0e0;
            }
            .sec-weapon-slot {
                background-image: url('../../../../../assets/sec-weapon-slot-bg.png');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: rgba(124, 66, 11, 168);
                border: 2px solid rgb(202, 116, 4);
                flex: 0 1 20%;
                height: 67%;
            }
            .sec-weapon-slot-equipped {
                border: 2px solid rgb(202, 116, 4);
                flex: 0 1 20%;
                height: 67%;
                background-color: #e0e0e0;
            }
        }
        .legs-slot {
            background-image: url('../../../../../assets/legs-slot-bg.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: rgba(124, 66, 11, 168);
            border: 2px solid rgb(202, 116, 4);
            width: 108px;
            flex: 0 1 20%;
        }
        .legs-slot-equipped {
            border: 2px solid rgb(202, 116, 4);
            width: 108px;
            flex: 0 1 20%;
            background-color: #e0e0e0;
        }
    }
    .unequipped-and-stats {
        width: 100%;
        display: flex;
        gap: .4em;
        flex: 0 1 35%;
        .unequipped {
            background-image: url('../../../../../assets/inventory-carousel-bg.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            flex: 0 1 50%;
            .slider {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                .slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    flex: 0 1 80%;
                    position: relative;
                    .item-img {
                        width: 220px;
                        height: 110px;
                        display: block;
                    }
                }
                .slide-inactive {
                    display: none;
                }
                .slider-button-prev{
                    flex: 0 1 10%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .prev-icon {
                        fill: white;
                        max-width: 2em;
                        max-height: 2em;
                    }
                }
                .slider-button-next{
                    flex: 0 1 10%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .next-icon {
                        fill: white;
                        max-width: 2em;
                        max-height: 2em;
                    }
                }
            }
        }
        .stats {
            display: flex;
            flex-wrap: wrap;
            flex: 0 1 70%;
            height: 100%;
            background-image: url('../../../../../assets/stats-bg.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            justify-content: center;
            .skill-points {
                flex: 0 1 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
            }
            .skill-container {
                flex: 0 1 50%;
                padding: .2em;
                .skill-name {
                    display: flex;
                    gap: .2em;
                    color: white;
                    justify-content: center;
                    .increase-skill-btn {
                        fill: white;
                        max-width: .7em;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.swiper-disabled {
    pointer-events: none;
}

.swiper-button-disabled {
    display: none;
    opacity: .5;
    pointer-events: none;
}