.inventory {
  flex: 0 1 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  align-items: center;
}
.inventory .equipped {
  width: 80%;
  flex: 0 1 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  padding: 0.4em;
}
.inventory .equipped .droppable {
  transition: background-color 0.3s;
}
.inventory .equipped .droppable img {
  max-width: 100%;
}
.inventory .equipped .head-slot {
  background-image: url("../../../../../assets/helmet-slot-bg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(124, 66, 11);
  border: 2px solid rgb(202, 116, 4);
  width: 108px;
  flex: 0 1 20%;
}
.inventory .equipped .head-slot-equipped {
  border: 2px solid rgb(202, 116, 4);
  width: 108px;
  flex: 0 1 20%;
  background-color: #e0e0e0;
}
.inventory .equipped .middle-slots {
  width: 100%;
  display: flex;
  flex: 0 1 30%;
  justify-content: space-around;
  align-items: center;
}
.inventory .equipped .middle-slots .droppable {
  transition: background-color 0.3s;
}
.inventory .equipped .middle-slots .prim-weapon-slot {
  background-image: url("../../../../../assets/prim-weapon-slot-bg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(124, 66, 11);
  border: 2px solid rgb(202, 116, 4);
  flex: 0 1 20%;
  height: 67%;
}
.inventory .equipped .middle-slots .prim-weapon-slot-equipped {
  flex: 0 1 20%;
  height: 67%;
  background-color: #e0e0e0;
}
.inventory .equipped .middle-slots .torso-slot {
  background-image: url("../../../../../assets/torso-slot-bg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(124, 66, 11);
  border: 2px solid rgb(202, 116, 4);
  flex: 0 1 20%;
  height: 67%;
}
.inventory .equipped .middle-slots .torso-slot-equipped {
  border: 2px solid rgb(202, 116, 4);
  flex: 0 1 20%;
  height: 67%;
  background-color: #e0e0e0;
}
.inventory .equipped .middle-slots .sec-weapon-slot {
  background-image: url("../../../../../assets/sec-weapon-slot-bg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(124, 66, 11);
  border: 2px solid rgb(202, 116, 4);
  flex: 0 1 20%;
  height: 67%;
}
.inventory .equipped .middle-slots .sec-weapon-slot-equipped {
  border: 2px solid rgb(202, 116, 4);
  flex: 0 1 20%;
  height: 67%;
  background-color: #e0e0e0;
}
.inventory .equipped .legs-slot {
  background-image: url("../../../../../assets/legs-slot-bg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(124, 66, 11);
  border: 2px solid rgb(202, 116, 4);
  width: 108px;
  flex: 0 1 20%;
}
.inventory .equipped .legs-slot-equipped {
  border: 2px solid rgb(202, 116, 4);
  width: 108px;
  flex: 0 1 20%;
  background-color: #e0e0e0;
}
.inventory .unequipped-and-stats {
  width: 100%;
  display: flex;
  gap: 0.4em;
  flex: 0 1 35%;
}
.inventory .unequipped-and-stats .unequipped {
  background-image: url("../../../../../assets/inventory-carousel-bg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 0 1 50%;
}
.inventory .unequipped-and-stats .unequipped .slider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.inventory .unequipped-and-stats .unequipped .slider .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex: 0 1 80%;
  position: relative;
}
.inventory .unequipped-and-stats .unequipped .slider .slide .item-img {
  width: 220px;
  height: 110px;
  display: block;
}
.inventory .unequipped-and-stats .unequipped .slider .slide-inactive {
  display: none;
}
.inventory .unequipped-and-stats .unequipped .slider .slider-button-prev {
  flex: 0 1 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inventory .unequipped-and-stats .unequipped .slider .slider-button-prev .prev-icon {
  fill: white;
  max-width: 2em;
  max-height: 2em;
}
.inventory .unequipped-and-stats .unequipped .slider .slider-button-next {
  flex: 0 1 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inventory .unequipped-and-stats .unequipped .slider .slider-button-next .next-icon {
  fill: white;
  max-width: 2em;
  max-height: 2em;
}
.inventory .unequipped-and-stats .stats {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 70%;
  height: 100%;
  background-image: url("../../../../../assets/stats-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}
.inventory .unequipped-and-stats .stats .skill-points {
  flex: 0 1 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.inventory .unequipped-and-stats .stats .skill-container {
  flex: 0 1 50%;
  padding: 0.2em;
}
.inventory .unequipped-and-stats .stats .skill-container .skill-name {
  display: flex;
  gap: 0.2em;
  color: white;
  justify-content: center;
}
.inventory .unequipped-and-stats .stats .skill-container .skill-name .increase-skill-btn {
  fill: white;
  max-width: 0.7em;
  cursor: pointer;
}

.swiper-disabled {
  pointer-events: none;
}

.swiper-button-disabled {
  display: none;
  opacity: 0.5;
  pointer-events: none;
}/*# sourceMappingURL=inventory.module.css.map */