.avatar-content {
  flex: 0 1 25%;
  height: 100%;
  padding: 0.5em;
  align-items: end;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
.avatar-content .avatar {
  background-image: url("https://i.imgur.com/9DsEBYk.png");
  background-position: center;
  background-size: cover;
  position: relative;
  flex: 0 1 50%;
  width: 100%;
}
.avatar-content .avatar .player-avatar {
  width: 70%;
  height: 65%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(22%, 37%);
  border-radius: 0.6em;
}
.avatar-content .modifiers {
  flex: 0 1 50%;
  width: 80%;
  margin-right: auto;
  background-image: url("https://i.imgur.com/ekPv5xh.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.avatar-content .modifiers .modifiers-text {
  position: relative;
  overflow: hidden;
  flex: 0 1 80%;
  padding: 0.3em;
}
.avatar-content .modifiers .modifiers-text .text-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.avatar-content .modifiers .modifiers-text .scrollable-text {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 0.3em;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.avatar-content .modifiers .modifiers-text .scrollable-text::-webkit-scrollbar {
  display: none;
}
.avatar-content .modifiers .modifiers-btns {
  background-image: url("https://i.imgur.com/W7qg9Jf.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 0 1 20%;
  display: flex;
  border-radius: 0 0 1em 1em;
}
.avatar-content .modifiers .modifiers-btns .scroll-left {
  background-image: url("../../../../../assets/modifier-scroll-left.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 0 1 32%;
  cursor: pointer;
  transition: ease-in-out 200ms;
  display: flex;
  justify-content: center;
}
.avatar-content .modifiers .modifiers-btns .scroll-left .overlay {
  width: 75%;
  height: 100%;
}
.avatar-content .modifiers .modifiers-btns .scroll-left:hover .overlay {
  background-color: rgba(242, 154, 40, 0.3);
  border-radius: 2em 0.6em 0.6em 2em;
}
.avatar-content .modifiers .modifiers-btns .middle-scroll-btns {
  display: flex;
  flex-direction: column;
  flex: 0 1 32%;
}
.avatar-content .modifiers .modifiers-btns .middle-scroll-btns .scroll-up {
  background-image: url("../../../../../assets/modifier-scroll-up.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 0 1 50%;
  cursor: pointer;
  transition: ease-in-out 200ms;
}
.avatar-content .modifiers .modifiers-btns .middle-scroll-btns .scroll-up .overlay {
  width: 100%;
  height: 100%;
}
.avatar-content .modifiers .modifiers-btns .middle-scroll-btns .scroll-down {
  background-image: url("../../../../../assets/modifier-scroll-down.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 0 1 50%;
  cursor: pointer;
  transition: ease-in-out 200ms;
}
.avatar-content .modifiers .modifiers-btns .middle-scroll-btns .scroll-down .overlay {
  width: 100%;
  height: 100%;
}
.avatar-content .modifiers .modifiers-btns .middle-scroll-btns .scroll-up:hover .overlay {
  background-color: rgba(242, 154, 40, 0.3);
  border-radius: 0 0 0.6em 0.6em;
}
.avatar-content .modifiers .modifiers-btns .middle-scroll-btns .scroll-down:hover .overlay {
  background-color: rgba(242, 154, 40, 0.3);
  border-radius: 0.6em 0.6em 0 0;
}
.avatar-content .modifiers .modifiers-btns .scroll-right {
  background-image: url("../../../../../assets/modifier-scroll-right.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 0 1 32%;
  cursor: pointer;
  transition: ease-in-out 200ms;
  display: flex;
  justify-content: center;
}
.avatar-content .modifiers .modifiers-btns .scroll-right .overlay {
  width: 75%;
  height: 100%;
}
.avatar-content .modifiers .modifiers-btns .scroll-right:hover .overlay {
  background-color: rgba(242, 154, 40, 0.3);
  border-radius: 0.6em 2em 2em 0.6em;
}/*# sourceMappingURL=avatar.module.css.map */