.char-creator-section {
    display: flex;
    padding: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
    background-image: url('../../../../public/images/pattern.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .creator-heading {
        flex: 0 1 100%;
        text-align: center;
    }
    .slider-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 50%;
        .choose-avatar-heading {
            width: 100%;
            text-align: center;
        }
        .error-h4 {
            color: red;
            background-color: black;
            padding: .3em;
            border-radius: .2em;
            display: flex;
            .close-error {
                cursor: pointer;
                margin-left: auto;
                transition: ease-in-out 200ms;
                padding: .2em;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .close-error:hover{
                background-color: red;
                color: black;
                border-radius: 50%;
            }
        }
    }
    .skills-selector-container{
        flex: 0 1 45%;
        padding: 1rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-image: url('../images/creator-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-box-shadow: -1px -2px 15px 0px rgba(204,38,38,1);
-moz-box-shadow: -1px -2px 15px 0px rgba(204,38,38,1);
box-shadow: -1px -2px 15px 0px rgba(204,38,38,1);
    }
}